---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Sobre mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hola, Soy Kevin, un Analista de CiberSeguridad de Colombia.
      <br />
       Mis principales herramientas incluyen:
      <ul class="list-disc list-inside">
        <li>Arch Linux</li>
        <li>Python</li>
        <li>Shell Script</li>
        <li>Splunk</li>
        <li>Wazuh</li>
        <li>MarkDown</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Apasionado por la protección de datos y la seguridad informática. 
      Me encanta explorar las últimas tendencias y tecnologías en ciberseguridad. 
      También disfruto realizando pruebas de penetración de sistemas en Hack The Box.
    </p>
    <p class="text-sm font-light">
      Siempre en busca de nuevos desafíos y oportunidades para fortalecer la seguridad digital. 
      ¡Conéctate y hablemos sobre ciberseguridad, protección de datos y pruebas de penetración!
    </p>
  </div>
</Card>
